In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('flavors_of_cacao.csv').dropna()
df.head(6)

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela

In [11]:
df.columns

Index(['Company \n(Maker-if known)', 'Specific Bean Origin\nor Bar Name',
       'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [12]:
df.columns = ['Company', 'SpecificBeanOrigin', 'REF', 'ReviewDate', 'CocoaPercent', 'CompanyLocation', 'Rating', 'BeanType', 'BroadBeanOrigin']

In [13]:
df

,Company,SpecificBeanOrigin,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,BroadBeanOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

<h1>Exploring the Dataset</h1>

How many tuples are there in the dataset?

In [16]:
# df.shape[0] 
len(df)

1793

How many unique company names are there in the dataset?

In [17]:
df = df.rename(columns={df.columns[0]: "Company"})

In [18]:
len(pd.unique(df['Company']))

416

How many reviews are made in 2013 in the dataset?

In [22]:
len(df.loc[df['ReviewDate'] == 2013])

184

In [23]:
df.groupby(["ReviewDate"]).count()

,Company,SpecificBeanOrigin,REF,CocoaPercent,CompanyLocation,Rating,BeanType,BroadBeanOrigin
ReviewDate,,,,,,,,
2006,72,72,72,72,72,72,72,72
2007,77,77,77,77,77,77,77,77
2008,93,93,93,93,93,93,93,93
2009,123,123,123,123,123,123,123,123
2010,111,111,111,111,111,111,111,111
2011,164,164,164,164,164,164,164,164
2012,194,194,194,194,194,194,194,194
2013,184,184,184,184,184,184,184,184
2014,247,247,247,247,247,247,247,247
2015,285,285,285,285,285,285,285,285
2016,219,219,219,219,219,219,219,219
2017,24,24,24,24,24,24,24,24

In [25]:
df[df.ReviewDate == 2013]

,Company,SpecificBeanOrigin,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,BroadBeanOrigin
10,A. Morin,Panama,1011,2013,70%,France,2.75,,Panama
11,A. Morin,Madagascar,1011,2013,70%,France,3.00,Criollo,Madagascar
12,A. Morin,Brazil,1011,2013,70%,France,3.25,,Brazil
13,A. Morin,Equateur,1011,2013,70%,France,3.75,,Ecuador
14,A. Morin,Colombie,1015,2013,70%,France,2.75,,Colombia
...,...,...,...,...,...,...,...,...,...
1738,Wilkie's Organic,Amazonas w/ nibs,1173,2013,75%,Ireland,2.75,Criollo,Peru
1741,Willie's Cacao,"Java, Indonesian Black",1109,2013,100%,U.K.,2.25,,Indonesia
1751,Woodblock,"Camino Verde P., Balao, Guayas",1042,2013,70%,U.S.A.,3.25,,Ecuador
1752,Woodblock,Gran Couva,1042,2013,70%,U.S.A.,3.50,Trinitario,Trinidad
1758,Xocolat,Hispaniola,1057,2013,66%,Domincan Republic,3.00,,Dominican Republic

In the BeanType column, how many missing values are there?

In [26]:
df["BeanType"][0]

'\xa0'

In [28]:
df[df.BeanType == '\xa0']

,Company,SpecificBeanOrigin,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,BroadBeanOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1787,Zotter,Santo Domingo,879,2012,70%,Austria,3.75,,Dominican Republic
1789,Zotter,"Indianer, Raw",883,2012,58%,Austria,3.50,,
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

Visualize the rating column with a histogram!

In [30]:
import matplotlib.pyplot as plt

ratings = df.Rating.values

In [37]:
plt.figure(figsize = (16,5))
plt.hist(ratings, bins=4, color='red')
plt.xlabel("ratings")

NameError: name 'ratings' is not defined

Comment on the resulting figure!

Convert and Visualize

Convert the Column Percent

Change the type of values in the column percent from string values to numerical values.

<h1>Visualize</h1>

Plot the converted numerical Cocoa Percent values against the Rating values!

From what you see, does more cocoa in a bar correspond to a higher rating?

<h1>Normalization</h1>

Normalize the Ratings Column and print the results.

Challenge Yourself (Optional)

List the companies ordered by their average score (averaged over each company’s reviews).

<h1>Encoding</h1>

Suppose we are interested in the company’s names and locations for some collective analysis. Encode the two categorical columns with the encoder you think is best for the job!